<!doctype html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <dialog id="modal" class="modal"></dialog>

    <dialog id="form-modal" class="modal">
      <button id="close-form-btn" class="close-btn" type="button">X</button>
      <section id="new-file-section">
        <h2>New File</h2>
        <form id="new-file-form">
          <label data-page="new-file" for="fileName">NAME*</label>
          <input data-page="new-file" id="fileName" name="fileName" type="text" required />

          <label data-page="new-file" for="fileLink">LINK*</label>
          <input data-page="new-file" id="fileLink" name="fileLink" type="url" required />

          <label data-page="new-file" for="fileExtension">Extension</label>
          <input data-page="new-file" id="fileExtension" name="fileExtension" type="text" />

          <label data-page="new-file" for="fileSize">File Size (mb)</label>
          <input data-page="new-file" id="fileSize" name="fileSize" type="number" step="0.01" min="0" />

          <label data-page="new-file" for="filePlacement"></label>
          <select data-page="new-file" id="filePlacement" required></select>

          <div id="new-file-error-wrapper" class="error-wrapper" hidden>
            <p class="error-heading">ERRORS:</p>
            <ul id="new-file-error-list" class="error-list"></ul>
          </div>
          <button id="new-file-btn" type="submit">CREATE</button>
        </form>
      </section>

      <section id="new-folder-section">
        <h2>New Folder</h2>
        <form id="new-folder-form">
          <label data-page="new-folder" for="folderName">NAME*</label>
          <input data-page="new-folder" id="folderName" name="folderName" type="text" required />

          <label data-page="new-folder" for="folderPlacement"></label>
          <select data-page="new-folder" id="folderPlacement" required></select>

          <div id="new-folder-error-wrapper" class="error-wrapper" hidden>
            <p class="error-heading">ERRORS:</p>
            <ul id="new-folder-error-list" class="error-list"></ul>
          </div>
          <button id="new-folder-btn" type="submit">CREATE</button>
        </form>
      </section>
    </dialog>
    <!--  -->
    <main id="home-page" data-page="/" hidden>
      <div class="wrapper">
        <section id="dashboard-section">
          <div class="row-wrapper">
            <h2>YOUR SKY</h2>
            <button id="create-new-btn" class="icon-btn" type="button">
              <img src="/assets/icons/plus.svg" alt="new file/folder" />
            </button>
            <!-- <div id="create-new-wrapper" class="column-wrapper hide">
              <button id="new-file-btn" type="button" class="icon-btn create-btn">
                <img src="/assets/icons/new-file.svg" alt="" />
                <span>New File</span>
              </button>
              <button id="new-folder-btn" type="button" class="icon-btn create-btn">
                <img src="/assets/icons/new-folder.svg" alt="" />
                <span>New Folder</span>
              </button>
            </div> -->
            <button id="dashboard-nav-btn" class="icon-btn" type="button">
              <img src="/assets/icons/triangle.svg" alt="folder navigation" />
            </button>
          </div>
          <div id="dashboard-container">
            <nav id="dashboard-nav" class="column-wrapper">
              <div class="row-wrapper">
                <h2>Top Folders</h2>
                <button id="top-folders-nav-btn" class="icon-btn" type="button">
                  <img src="/assets/icons/triangle.svg" alt="folder navigation" />
                </button>
              </div>
              <ul id="top-folder-list" role="list"></ul>
            </nav>
            <section id="dashboard-content" class="column-wrapper">
              <div id="content-orders" class="row-wrapper">
                <div class="row-wrapper">
                  <p>Name</p>
                  <button type="button" class="icon-btn sort-btn">
                    <img src="/assets/icons/arrow.svg" alt="order by name" />
                  </button>
                </div>
                <div class="row-wrapper">
                  <p>Qty</p>
                  <button type="button" class="icon-btn sort-btn">
                    <img src="/assets/icons/arrow.svg" alt="order by quantity" />
                  </button>
                </div>
                <div class="row-wrapper">
                  <p>Created</p>
                  <button type="button" class="icon-btn sort-btn">
                    <img src="/assets/icons/arrow.svg" alt="order by created" />
                  </button>
                </div>
                <div class="row-wrapper">
                  <p>Size</p>
                  <button type="button" class="icon-btn sort-btn">
                    <img src="/assets/icons/arrow.svg" alt="order by file size" />
                  </button>
                </div>
              </div>
              <div class="column-wrapper">
                <ul role="list" id="content-list" class="column-wrapper"></ul>
              </div>
            </section>
          </div>
        </section>
      </div>
    </main>

    <main id="register-page" data-page="/register" hidden>
      <div class="wrapper">
        <section id="register-section">
          <h2>Register</h2>
          <form id="register-form">
            <label data-page="register" for="registerEmail">EMAIL</label>
            <input data-page="register" id="registerEmail" name="registerEmail" type="email" required />

            <label data-page="register" for="registerPassword">PASSWORD</label>
            <input
              data-page="register"
              id="registerPassword"
              name="registerPassword"
              type="password"
              required
            />

            <label data-page="register" for="registerConfirmPassword">CONFIRM PASSWORD</label>
            <input
              data-page="register"
              id="registerConfirmPassword"
              name="registerConfirmPassword"
              type="password"
              required
            />

            <div id="register-error-wrapper" class="error-wrapper" hidden>
              <p class="error-heading">ERRORS:</p>
              <ul id="register-error-list" class="error-list"></ul>
            </div>
            <button id="register-btn" type="submit">REGISTER</button>
          </form>
          <a data-link="page" href="/login">
            <p>Already have an account? Login!</p>
          </a>
        </section>
      </div>
    </main>

    <main id="login-page" data-page="/login" hidden>
      <div class="wrapper">
        <section id="login-section">
          <h2>Login</h2>
          <form id="login-form">
            <label data-page="login" for="loginEmail">EMAIL</label>
            <input data-page="login" id="loginEmail" name="loginEmail" type="email" required />

            <label data-page="login" for="loginPassword">PASSWORD</label>
            <input data-page="login" id="loginPassword" name="loginPassword" type="password" required />

            <div id="login-error-wrapper" class="error-wrapper" hidden>
              <p class="error-heading">ERRORS:</p>
              <ul id="login-error-list" class="error-list"></ul>
            </div>
            <button id="login-btn" type="submit">LOGIN</button>
          </form>
          <a data-link="page" href="/register">
            <p>Already have an account? Register!</p>
          </a>
        </section>
      </div>
    </main>

    <main id="about-page" data-page="/about" hidden>
      <div class="wrapper">
        <section id="about-section">
          <h2>About</h2>
          <article>
            <h3>🌤️ About Filesky</h3>
            <p>
              Filesky is your personal cloud in the sky — a simple, secure, and distraction-free way to store
              your files and folders online. We believe that file storage should be fast, intuitive, and
              yours. That’s why Filesky keeps things minimal and easy to use, without the bloat of overly
              complex systems. Whether you’re uploading a document, organizing your folders, or just need a
              place to keep your digital life tidy — Filesky has your back.
            </p>
            <h3>🧩 What You Can Do</h3>
            <ul>
              <li>Upload files and organize them into folders</li>
              <li>Access your content from anywhere</li>
              <li>Keep things private and secure</li>
              <li>Stay focused with a clean and user-friendly interface</li>
            </ul>
            <h3>🔒 Your Files, Your Privacy</h3>
            <p>
              We take data privacy seriously. Your files are stored securely and are only accessible to you —
              no ads, no data mining, just storage.
            </p>
            <h3>☁️ Why We Built Filesky</h3>
            <p>
              Because everyone deserves a clutter-free, dependable place to keep their files. Whether you’re a
              student, freelancer, or just someone who wants control over their digital space — Filesky is
              built for you.
            </p>
          </article>
        </section>
      </div>
    </main>

    <main id="error-page" data-page="/page-not-found" hidden>
      <div class="wrapper">
        <section id="page-not-found-section">
          <p>404 - ERROR</p>
          <p>Something went wrong</p>
          <p>Did you get lost in the sky?</p>
          <p>Try another path or:</p>
          <button type="button">
            <a href="/"> GO BACK </a>
          </button>
        </section>
      </div>
    </main>
    <!--  -->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
