<!doctype html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <!--  -->
    <main id="home-page" hidden>
      <div class="wrapper">
        <h2>Home</h2>
      </div>
    </main>

    <main id="register-page" hidden>
      <div class="wrapper">
        <section id="register-section">
          <h2>Register</h2>
          <form method="post" action="/register" id="register-form">
            <label data-page="register" for="register-email">EMAIL</label>
            <input
              data-page="register"
              id="register-email"
              name="register-email"
              type="text"
              required
              autofocus
            />

            <label data-page="register" for="register-password">PASSWORD</label>
            <input
              data-page="register"
              id="register-password"
              name="register-password"
              type="password"
              required
            />

            <label data-page="register" for="register-confirmPassword">CONFIRM PASSWORD</label>
            <input
              data-page="register"
              id="register-confirmPassword"
              name="register-confirmPassword"
              type="password"
              required
            />

            <div class="error-wrapper" hidden>
              <ul class="error-list">
                <li>Error test</li>
              </ul>
            </div>
            <button id="register-btn" type="submit">REGISTER</button>
          </form>
          <a href="/login">
            <p>Already have an account? Login!</p>
          </a>
        </section>
      </div>
    </main>

    <main id="login-page">
      <div class="wrapper">
        <section id="login-section">
          <h2>Login</h2>
          <form method="post" action="/login" id="login-form">
            <label data-page="login" for="login-email">EMAIL</label>
            <input data-page="login" id="login-email" name="login-email" type="text" required autofocus />

            <label data-page="login" for="login-password">PASSWORD</label>
            <input data-page="login" id="login-password" name="login-password" type="password" required />

            <div class="error-wrapper" hidden>
              <ul class="error-list">
                <li>Error test</li>
              </ul>
            </div>
            <button id="login-btn" type="submit">LOGIN</button>
          </form>
          <a href="/register">
            <p>Already have an account? Register!</p>
          </a>
        </section>
      </div>
    </main>

    <main id="about-page" hidden>
      <div class="wrapper">
        <h2>About</h2>
      </div>
    </main>
    <!--  -->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
