<!doctype html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <!--  -->
    <main id="home-page">
      <div class="wrapper">
        <h1>Home</h1>
      </div>
    </main>

    <main id="register-page" hidden>
      <div class="wrapper">
        <h1>Register</h1>
      </div>
    </main>

    <main id="login-page" hidden>
      <div class="wrapper">
        <h1>Login</h1>
      </div>
    </main>

    <main id="about-page" hidden>
      <div class="wrapper">
        <h1>About</h1>
      </div>
    </main>
    <!--  -->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
