<header>
  <div>
    <a href="/">
      <img src="filesky-icon.png" alt="" />
      <p>FILESKY</p>
    </a>
    <nav>
      <ul>
        <button>
          <li>
            <img src="" alt="" />
          </li>
        </button>
        <a>
          <li>Register</li>
        </a>
        <a>
          <li>Login</li>
        </a>
        <a>
          <li>About</li>
        </a>
      </ul>
    </nav>
  </div>
</header>
