<header>
  <div class="wrapper">
    <div id="header__brand">
      <a id="top-home-link" data-link="page" href="/">
        <img src="/assets/icons/filesky-icon.png" alt="" />
        <p>FILESKY</p>
      </a>
    </div>
    <button id="menu-btn" class="icon-btn">
      <img src="/assets/icons/menu.svg" alt="" />
    </button>
    <nav id="header__nav">
      <ul id="header__nav-list" role="list">
        <!-- <button class="icon-btn">
          <li>
            <img data-btn="theme" src="/assets/icons/theme.svg" alt="" />
          </li>
        </button>
        <li><a data-link="page" href="/register">Register</a></li>
        <li><a data-link="page" href="/login">Login</a></li>
        <li><a data-link="page" href="/about">About</a></li> -->
      </ul>
    </nav>
  </div>
</header>
